<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmek oldalhoz regisztráció</title>
</head>
<body>
<div id="main">
        <h2>Kérjük, adjon meg egy e-mail címet és egy jelszót, ha csatlakozni szeretne oldalunkhoz.</h2><br>
        <div class="login-box">
            <form method="post" action="/regisztracio">
                <input class="inputbox" type="email" name="username" placeholder="felhasználói név"><br>
                <input class="inputbox" type="password" name="password" placeholder="jelszó"><br>
                <button class="inputbox" type="submit">Regisztráció</button>
            </form>
        </div>
        {{message}}
    </div>
</body>
</html>