<!DOCTYPE html>
<html lang="hu">
<head>
    <style>
        table {
            font-family: verdana, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #ebd2ae;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ebd2ae;
        }
    </style>
</head>

<body>
    {% if not name%}
    <div id="main">
        <h1>Filmek</h1>
        {% if not message%}
        <p>Az oldalunk eléréséhez be kell jelentkeznie az alábbiakban. Ha még nincs fiókja, akkor regisztráció szükséges <a href="/regisztracio-oldal">Az alábbi oldalon.</a></p>
        <div class="login-box">
            {% include "login.html" %}
        </div>
    {% else %}
            {{message}}<br>
            <div class="login-box">
                {% include "login.html" %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if name %}
    <div id="menubar">
        <div>
            <form method="post" action="/logout">
                <button class="logout_btn" type="submit">Kijelentkezés</button>
            </form>
            <h4 id="menu">{{name}}</h4>
        </div>
    </div>
    <div id="center">
    <table>
        <tr>
            <th>Cím</th>
            <th>Leírás</th>
            <th>IMDB</th>
        </tr>
        {% for film in filmek %}
        <tr>
            <td>{{film.cim}}</td>
            <td>{{film.leiras}}</td>
            <td><a href="{{film.IMDB}}">Link</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
        {% endif %}
</body>
</html>